#Head{
    background-image: url(gambar/4i4qn2dp.png);
}
#footer{
    background-image: url(gambar/4i4qn2dp.png);
}
#HeadTab{
    background-image: url(gambar/4i4qn2dp.png);
}
#FooterTab{
    background-image: url(gambar/4i4qn2dp.png);

}